@model GettingStarted.Models.Member

@{
    ViewBag.Title = "Details";
} 
@* https://localhost:5001/Members/details *@
<h1>Details</h1>

<div>
    <h4>Member Information</h4>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfBirth.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.BirthPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.IsGraduated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.IsGraduated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.StartDate)
        </dt>
        <dd class="col-sm-10"> 
            @Model.StartDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("dd/MM/yyyy")
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
